<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>

    <add name="AOSMITH"
   connectionString="Data Source=192.168.1.100;Initial Catalog=AOSMITH_WIP;User ID=sa;Password=SqlServer@2012" providerName="System.Data.SqlClient"/>

    <add name="AOSMITHERPFORGRN"
  connectionString="Data Source=172.20.240.56;Initial Catalog=TSTDAT;User ID=sa;Password=Passw0rd" providerName="System.Data.SqlClient"/>
   
    <add name="AOSMITHERP"
  connectionString="Data Source=172.20.240.56;Initial Catalog=SMDAT;User ID=sa;Password=Passw0rd" providerName="System.Data.SqlClient"/>


    <!--<add name="AOSMITH" connectionString="Data Source=PUTTARAJLAP;Initial Catalog=AOSMITH_WIP;User ID=sa;Password=admin@123456"
      providerName="System.Data.SqlClient" />
    <add name="AOSMITHERP" connectionString="Data Source=172.20.240.56;Initial Catalog=TSTDAT;User ID=sa;Password=Passw0rd"
      providerName="System.Data.SqlClient" />
    <add name="AOSMITH_WMS.Properties.Settings.AOSMITH_WIPConnectionString"
      connectionString="Data Source=PUTTARAJLAP;Initial Catalog=AOSMITH_WIP;Persist Security Info=True;User ID=sa;Password=admin@123456"
      providerName="System.Data.SqlClient" />-->
  
  </connectionStrings>
  <appSettings>
    <add key="RMALRLLABEL" value="RMALRL.prn"/>
    <add key="PALLETELABEL" value="Pallet.prn"/>
    <add key="CARTONLABEL" value="Carton.prn"/>
    <add key="MRPLabel" value="MRPLabel.prn"/>
    <add key="MRPLabelInstant" value="MRPInstant.prn"/>
  </appSettings>
</configuration>